.healthRecordsPage {
  padding: 20px;
}

.backButton {
  background-color: #f89c1c;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 20px;
}

.topButtons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.addPrescription,
.addLog {
  background-color: #f89c1c;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  max-height: 40px;
}

.topBit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.displayBit {
  display: flex;
  align-items: center;
  gap: 20px;
}

.displayButtons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.displayButton {
  background-color: white;
  border: 1px solid #f89c1c;
  padding: 10px 20px;
  color: #f89c1c;
  cursor: pointer;
  border-radius: 4px;
}

.displayButton.active {
  background-color: #f89c1c;
  color: white;
}

.recordsList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.recordCard {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  width: calc(25% - 20px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
